POSTGRES_USER=farmacia_user
POSTGRES_PASSWORD=cambiar_esta_contrasena
POSTGRES_DB=farmacia_gaby

POSTGRES_PORT=5432
REDIS_PORT=6379

AUTH_PORT=3001
CATALOGO_PORT=3002
INVENTARIO_PORT=3003
PEDIDOS_PORT=3004
PAGOS_PORT=3005